{% extends "dashboard/index.html.twig" %}

{% block title %} New Song {% endblock %}

{% block body %}
    <h1>Create a new Song</h1>
    <section class="form-admin">
        {{ form(form) }}
    </section>
{% endblock %}