{% extends "dashboard/index.html.twig" %}

{% block title %} New Tag {% endblock %}

{% block body %}
    <h2>Create a new Tag</h2>
    <section class="form-admin">
        {{ form(form) }}
    </section>
{% endblock %}