{% extends "dashboard/index.html.twig" %}

{% block title %}Update Tag{% endblock %}

{% block body %}
    <h1>Update User</h1>
    <section class="form-admin">
        {{ form(form) }}
    </section>
{% endblock %}