{% extends 'base.html.twig' %}

{% block title %}LAB MUSIK{% endblock %}

{% block body %}

	<section class="intro">
		<h3 class="intro-title">Welcome to Z-lab !</h3>
		<p class="intro-text">
			<span class="intro-brand">Z-Lab</span> is a sharing platform for musical playlists. <br>
			You can discover playlist from the community, <br>
			create your own playlist, share it or keep it for yourself. <br>
			Have fun !
		</p>
		<h6>Checkout the trending playlist</h6>
	</section>

	<section class="trends">
		<h3 class="trends-title"></h3>                        
		<div class="trends-list">
			{% for playlist in playlists %}
				<div class="trends-item">
					<a href="/playlist/{{ playlist.id }}">
						<img src="{{ playlist.image }}" alt="{{ playlist.name }}" class="trends-item-img">
						<h4 class="trends-item-title">{{ playlist.name }}</h4>
					</a>
				</div>
			{% endfor %}
		</div>
	</section>                            
{% endblock %}
