{% extends 'base.html.twig' %}

{% block title %}Your LAB{% endblock %}

{% block body %}
	<section class="lab" style="margin: 10rem auto">
		
		<h1>Create and Manage your playlist in the LAB</h1>

	</section>
{% endblock %}