<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta name="description" content="Lab Musik">
		<meta name="keywords" content="HTML, CSS, JavaScript">
		<meta name="author" content="Brusseau Basile">
        <title>{% block title %}LAB MUSIK{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{asset('css/normalize.css')}}">
			<link rel="stylesheet" href="{{asset('css/home.css')}}">
        {% endblock %}

        {% block javascripts %}
			<script defer src="{{asset('js/home.js')}}"></script>
        {% endblock %}
		 <script defer src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    </head>
    <body>
		<header>
			{% include "structure/header.html.twig" %}
		</header>
        	{% block body %}
				
			{% endblock %}
		<footer>
			{% include "structure/footer.html.twig" %}
		</footer>
    </body>
</html>
