<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LAB MUSIK{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{asset('css/home.css')}}">
        {% endblock %}

        {% block javascripts %}
			<script defer src="{{asset('js/home.js')}}"></script>
        {% endblock %}
    </head>
    <body>
	{% include "structure/header.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
